body {
	background-color: rgb(245,245,245);
	margin: 0 auto;
}
#header {
	background-color: rgba(50,150,150,1);
	font-size: 20px;
	padding:10px;
	text-align: center;	
}
#about, #mainhead {
	cursor: pointer;
	padding: 10px;
	text-decoration: none;
	color: black;
}
#mainhead:hover, #mainhead:active, #about:hover, #about:active,#loginbutton:hover, #loginbutton:active{
	background-color: lightgreen;
}
#loginbutton {
	cursor: pointer;
	font-size: 20px;
	padding: 10px;
}
#signoutbutton {
	cursor: pointer;
	font-size: 15px;
	padding: 10px;	
}
#loginform {
	text-align: center;
	font-size: 20px;	
}
input, textarea {
	background: none;
	border: groove;
	padding: 5px;
	margin: 5px; 
	background-color: rgba(300,300,300,0.5);
}
#content {
	text-align: center;
	margin: auto;
}
@media only screen and (min-device-width: 600px) {
	#content{
		text-align: center;
		margin: auto;
			width: 70%;		
	}
}
#aboutcontactform {
	text-align: center;
}